<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.paddy.fyp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ExerciseActivity" />
        <activity android:name=".NewExerciseActivity" />
        <activity android:name=".ExerciseLogListActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".routines.RoutinesActivity" />
        <activity android:name=".stats.StatsActivity" />
        <activity android:name=".stats.StatsExerciseActivity" />
        <activity android:name=".stats.StatsOptionsActivity" />
        <activity android:name=".stats.StatsHistoryActivity" />
        <activity android:name=".NavigationActivity"/>
        <activity android:name=".stats.StatsMusclesActivity"/>
        <activity android:name=".stats.Stats1rmActivity"/>
        <activity android:name=".stats.StatsBodyweightActivity"/>
        <activity android:name=".stats.StatsAddBodyweightActivity"/>
        <activity android:name=".stats.StatsBodyweightStatActivity"/>
    </application>

</manifest>